* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    background-color: #424B54;
}

nav a {
    text-decoration: none;
    margin: 5px;
    margin-bottom: 2px;
    padding: 10px;
    border: 2px solid white;
    color: white;
    transition: transform 0.5s ease;
}

nav a:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.land {
    background-image: url("https://images.unsplash.com/photo-1605711285791-0219e80e43a3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8bGVhcm4lMjBjb2RlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size:cover;
    width:100%;
    height:100vh;
    color:white;
}

.land * {
    position: relative;
    z-index: 1;
}

.land h1 {
    top: 150px;
    font-size: 45px;
    left: 150px;
}

.land h2 {
    font-size: 32px;
    top: 155px;
    left: 150px;
}


.land::after {
    content:"";
    background-color:#000;
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    opacity:0.2;
    z-index: -1;
}

.get_started {
    background-color: #9882AC;
    color: white;
    padding: 7px;
    top: 165px;
    left: 165px;
    border-radius: 1rem;
    border-style: none;
    box-shadow: 10px 5px 5px black;
}

.get_started:hover {
    background-color: #008DD5;
    outline: none;
}

.get_started:focus {
    outline: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    background-color: #B185A7;
    color: white;
    height: auto;
    max-width: 100%;
    padding-bottom: 25px;
}

.about h2 {
    position: absolute;
    top: 45rem;
}

.features {
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    max-width: 100%;
    background-color: #FFF4E9;
    padding-bottom: 25px;
}

.features ul {
    position: relative;
    padding-top: 85px;
}

.features h2 {
    position: absolute;
    top: 60rem;
}

.contact {
    display: flex;
    align-items: center;
    background-color: #C3A29E;
    justify-content: center;
    color: white;
    height: 215px;
}

.contact h2 {
    position: absolute;
    top: 72rem;
}

.contact li {
    font-size: 25px;
    text-decoration: none;
    padding: 5px;
}
